<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Welcome to Topkem Cleaning Services!</title>
		<style>
			body {
				font-family: "Arial", sans-serif;
				background-color: #f0f0f0;
				color: #333;
				margin: 0;
				padding: 0;
			}
			.header {
				background-color: #2c3e50;
				color: white;
				padding: 40px 20px;
				text-align: center;
			}
			.header img {
				width: 50px;
				margin-bottom: 10px;
			}
			.header h1 {
				font-size: 32px;
				margin: 0;
				font-family: "Cursive", sans-serif;
			}
			.container {
				max-width: 600px;
				margin: 20px auto;
				background-color: #fff;
				padding: 30px;
				border-radius: 8px;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			}
			.container h1 {
				font-size: 24px;
				color: #333;
				margin-bottom: 20px;
			}
			.container p {
				font-size: 16px;
				margin-bottom: 20px;
				line-height: 1.8;
			}
			.container ul {
				text-align: left;
				padding-left: 20px;
			}
			.container ul li {
				margin-bottom: 10px;
			}
			.cta-button {
				display: inline-block;
				background-color: #2ecc71;
				color: #fff;
				text-decoration: none;
				padding: 15px 30px;
				border-radius: 5px;
				font-size: 18px;
				transition: background-color 0.3s ease;
				margin: 20px 0;
			}
			.cta-button:hover {
				background-color: #27ae60;
			}
			.footer {
				text-align: center;
				margin-top: 20px;
				font-size: 14px;
				color: #888;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<img
				src="https://res.cloudinary.com/dh4vgbdf1/image/upload/v1721820222/topkemLogo_xw0kei.png"
				alt="Welcome Icon"
			/>
			<h1>Welcome!</h1>
		</div>
		<div class="container">
			<h1>Welcome to Topkem Cleaning Services!</h1>
			<p>
				Thank you for subscribing to Topkem Cleaning Services! We are
				thrilled to have you on board.
			</p>
			<p>
				At Topkem, we are committed to providing you with exceptional
				cleaning services that exceed your expectations. As a
				subscriber, you can look forward to:
			</p>
			<ul>
				<li>Professional cleaning tailored to your needs</li>
				<li>Trained and courteous cleaning staff</li>
				<li>Flexible scheduling options</li>
				<li>Exclusive offers and discounts</li>
			</ul>
			<p>
				For any inquiries or to book your first cleaning service,
				please visit our website or contact us directly.
			</p>
			<a
				href="https://www.topkem.org/services"
				class="cta-button"
				>Explore Our Services</a
			>
		</div>
		<div class="footer">Team Topkem</div>
	</body>
</html>
